hr
        {
            border-style: dotted none none;
            border-color: #058d94;
            border-width: 8px;
            width: 5%;
        }
        h1
        {
            font-size: 40px;
            text-shadow:whitesmoke 10px 10px 10px;
            color:midnightblue;
            margin-bottom: 0%;
        }
        h2
        {
            text-decoration: none;
            width: fit-content;
            padding: .75rem 1.5rem;
            border-radius: 0rem 3.75rem 3.75rem 0rem;
            line-height: 2.5rem;
            font-size: 1.5rem;
            font-weight: 600;
            background-color: #71c9ce;
            margin: 1%;
        }
        p
        {
           margin: 1%;
        }
        div
        {
            background-image: linear-gradient(-180deg, #1a666b 0%, #39c8cf 100%);
            box-shadow:  1rem 0 1.25rem 0 #1a666b inset;
            
            
        }
        body
        {
            background-color: #a2dde0; 
            margin: 0%;"

        } 
        button
        {
            cursor: pointer;
            position: relative;
            padding: 1rem 2rem;
            border-radius: 3.75rem;
            line-height: 2.5rem;
            font-size: 2rem;
            font-weight: 600;
            border: 1px solid black;
            background-image: linear-gradient(180deg, #71c9ce 0%,white 100%); 
            box-shadow:  1rem 0 1.25rem 0 #134d50 inset;
        }
        button:hover
        {
            background-image: linear-gradient(-180deg, #71c9ce 0%, white, 100%);
            box-shadow:  1rem 0 1.25rem 0 #134d50 inset;
        }
         
        /*background-color: #128d94;
        margin: 0%;
            background-image: linear-gradient(-180deg, #128d94 0%, white, 100%);
            box-shadow: 0.1rem, 1025rem,0,#128d94,inset;*/